<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Delete Appointment</title>
</head>
<body>
     <h1>Delete Appointment</h1>
     <p>Are you sure you want to delete {{Appointment.appointmentnumber}}</p>
     <form action="" method="POST">
          {% csrf_token %}
          <button type="submit"> yes, Delete</button>
          <a href="{%url 'appointment_history' %}">No, Cancel</a>
     </form>
</body>
</html>